header{
    margin:0;
    
    
}

nav{
    padding:0px 20px;
    align-items: center;
    justify-content: space-between;
    margin:0;
    background-color: rgb(228, 100, 126);
}

nav, ul{
    display:flex;
    flex-direction: row;
    

}

button{
    background: transparent;
    border:none;
    color:pink;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    display:none
}

.logo{
    color:black;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

ul{
    list-style: none;
    padding: 0;
    overflow:hidden;
    transition: 0.5s;
}

li{
    padding: 10px 20px;
}

li:hover,
button:hover{
    cursor: pointer;
    background-color:pink;
    transition: 0.5s;
}

button:focus ~ ul{
    height: 200px;
}

li a{
    padding:10px 15px;
    text-decoration: none;
    color:black;
    font-size: 20px;
}

h3 a{
    color: black;
    text-decoration: none;

}

@media (max-width:870px) {
    nav, ul{
        flex-direction: column;
        align-items: unset;
    }
    

    ul{
        text-align: center;
        height:0
    }

    nav{
        padding-top: 10px;
    }

    button{
        display: flex;
    }
}

/*Corpo da Página*/

body{
    background-color:rgb(255,221,241);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin:auto;
    height: 800px;
    min-width: 200px;
    max-width: 2000px;

}

.item{
    padding:20px;
    margin:10px;
    max-width: 40%;
    

}

.text{
    padding:20px;
    margin:10px;
}

h1{
    text-align: center;
    font-size:35pt;
}

p{
    text-align: justify;
    font-size: 18pt;
}

.item img{
    text-align: center;
}

@media (max-width:870px) {
    .container{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;

    }

    .item{
        max-width: 90%;
        height: auto;

    }

    .text{
        padding: 0;
        margin:0;
    }
}